
body {
	background-color: #eeeeee;
}

.nav {
	margin-top: 20px;
	margin-bottom: 20px;
}

.header {
	background-color: #aaffaa;
	padding-left: 100px;
	padding-top: 60px;
	padding-bottom: 60px;
}

.header h1{
	font-size: 64px;
}

.header p{
	font-size: 22px;
}

.btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content {
	padding-left: 20px;
	padding-top: 150px;
}

.content h2{
	text-align: center;
}

.content p{
	text-align: center;
}

.footer {
	padding-left: 35%;
	padding-top: 100px;
	position: relative;
}

.links p{
	text-align: center;
}

.inactive {
	visibility: hidden;
}

.active {
	visibility: visible;
}
