
body {
	background: linear-gradient(#66ffdd, #005555);
}

.nav {
	margin-top: 20px;
	margin-bottom: 20px;
}

.header {
	padding-left: 100px;
	padding-top: 60px;
	padding-bottom: 60px;
}

.header h1{
	font-size: 64px;
}

.header p{
	font-size: 22px;
}

.btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content {
	padding-left: 20px;
	padding-top: 150px;
}

.content h2{
	text-align: center;
	font-size: 32px;
	color: #ffffff;
}

.content p{
	text-align: center;
	font-size: 20px;
	color: #ffffff;
}

.footer {
	padding-left: 35%;
	padding-top: 100px;
	padding-bottom: 15px;
	position: relative;
}

.links p{
	text-align: center;
}

.links a:link{
	color: #FFFFFF;
}

.links a:visited{
	color: #FFFFFF;
}

.inactive {
	visibility: hidden;
}

.active {
	visibility: visible;
}
